<head>
<style type="text/css">
.table1 {margin-top:100px;}
.table2 {position:absolute; margin-top:50px; margin-left:530px;font-family:"Times New Roman", Times, serif; font-size:25px; }
.table3 {position:absolute; margin-top:70px; margin-left:530px; }
.table4 {position:absolute; margin-top:100px; margin-left:530px; font-family:"Times New Roman", Times, serif; font-size:25px; }
.table5 {position:absolute; margin-top:120px; margin-left:530px; }
.table6 {position:absolute; margin-top:110px; margin-left:700px; font-family:"Times New Roman", Times, serif; font-size:25px; }
.table7 {position:absolute; margin-top:150px; margin-left:530px; font-family:"Times New Roman", Times, serif; font-size:25px; }
.table8 {position:absolute; width:200px; margin-top:350px; margin-left:50px; font-family:"Times New Roman", Times, serif; font-size:25px; }
h1{font-family:"Times New Roman", Times, serif; font-size:35px;}
</style>
</head>
<div class="table1">
<h1 align="center">Login to your account</h1>
</div>
<%= form_tag session_path do %>
<div class="field">
<div class="table2"><%= label_tag :email %></div><br />
<div class="table3"><%= text_field_tag :email %></div>
</div>
<div class="field">
<div class="table4"><%= label_tag :password %></div><br />
<div class="table5"><%= password_field_tag :password %></div>
</div>
<div class="actions">
<div class="table6"><%= submit_tag 'login' %></div>
</div>
<div class ="table7">
<p>Don't have an account? Create one, It's simple!</p> 
<%= link_to 'Sign Up', :controller => "users", :action => "new" %>
</div>
<div class="table8">
<%= link_to 'View Chart', charts_path %>
<p> Click the above link to view the seating chart of CS 408.</p>
<div>
<% end %>
